$delay:500ms;


.b-menu-container {

  width: 100%;
  max-width: 400px;
  min-width: 300px;
  position: relative;
  font-size: 1.3em;
  line-height: 2.5;
  font-weight: 400;
  color: #375753;
  padding-top: 2em;

  &:nth-child(1) {
    padding-top: 0em;
  }

  -webkit-transition: padding-top $delay;
  -moz-transition: padding-top $delay;
  -o-transition: padding-top $delay;
  transition: padding-top $delay;

  [data-icon]:before {
    font-family: 'iconmoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  ul {
    padding: 0;
    margin: 0 3em 0 0;
    list-style: none;
    opacity: 0;
    position: relative;
    z-index: 0;
    pointer-events: none;
    -webkit-transition: opacity 0s linear 205ms;
    -moz-transition: opacity 0s linear 205ms;
    transition: opacity 0s linear 205ms;

    li {
      display: block;
      margin: 0 px;
      opacity: 0;
      height: 0px;
      -webkit-transition: opacity 0.3s, height 0.3s, margin 0.3s, ease;
      -moz-transition: opacity 0.3s, height 0.3s, margin 0.3s, ease;
      transition: opacity 0.3s, height 0.3s, margin 0.3s, ease;

      a {
        display: inline-block;
        padding: 0 20px;
        color: #56837e;
      }

      a:hover {
        color: #d9b963;
      }
    }

    .e-icon:before {
      margin-right: 15px;
    }
  }

  > div  {
    cursor: pointer;
    position: absolute;
    width: 100%;
    z-index: 100;

    .e-icon {
      top: 0;
      left: 0;
      position: absolute;
      font-size: 150%;
      line-height: 1.6;
      padding: 0 10px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    .e-icon:after {
      font-family: 'iconmoon';
      content: "\3c";
      position: absolute;
      font-size: 80%;
      line-height: 50px;
      left: -15px;
      opacity: 0;
    }

    .e-label {
      padding-left: 3em;
      position: relative;
      display: block;
      color: #375753;
      font-size: 0.9em;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      line-height: 2.75;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
}

.b-menu-container.e-menu-before-open-menu-all {
  padding-top:4.0em;
}

.b-menu-container.e-menu-before-open-menu-first {
  padding-top:2.0em;
}

a.e-label-open {
  color: #d9b963 !important;
}

.b-menu-container.e-menu-open {

  > div .e-icon {
    color: #d9b963;
    left: 100%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  > div .e-icon:after {
    opacity: 1;
  }

  > div .e-label {
    -webkit-transform: translateY(-90%);
    -moz-transform: translateY(-90%);
    -ms-transform: translateY(-90%);
    transform: translateY(-90%);
  }

  ul {
    opacity: 1;
    z-index: 200;
    pointer-events: auto;
    -webkit-transition: opacity 0s linear 0s;
    -moz-transition: opacity 0s linear 0s;
    transition: opacity 0s linear 0s;

    li {
      height: auto;
      opacity: 1;
      margin: 0 0 5px 0;
    }

    li:nth-child(2) {
      -webkit-transition-delay: 35ms;
      -moz-transition-delay: 35ms;
      transition-delay: 35ms;
    }

    li:nth-child(3) {
      -webkit-transition-delay: 70ms;
      -moz-transition-delay: 70ms;
      transition-delay: 70ms;
    }

    li:nth-child(4) {
      -webkit-transition-delay: 105ms;
      -moz-transition-delay: 105ms;
      transition-delay: 105ms;
    }

    li:nth-child(5) {
      -webkit-transition-delay: 140ms;
      -moz-transition-delay: 140ms;
      transition-delay: 140ms;
    }

    li:nth-child(6) {
      -webkit-transition-delay: 175ms;
      -moz-transition-delay: 175ms;
      transition-delay: 175ms;
    }

    li:nth-child(7) {
      -webkit-transition-delay: 205ms;
      -moz-transition-delay: 205ms;
      transition-delay: 205ms;
    }
  }
}