<h1 class='sub-title'><%= @current_title_text %></h1>

<%= render 'change_password' %>

<% content_for :footer do %>
    <%= link_to 'Back to Users List', security_users_path, remote: true %>
<% end %>

